
.alert-container{
    border-radius: 5px;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 99;
    height: 50px;
    min-width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: ease-in-out all 0.3s; 
    transform: translateY(-80px);
    padding: 0px 15px;
}   

.alert-container-show{
    opacity: 1;
    transform: translateY(0);

} 

.alert-red-bg{
    background-color: rgb(243, 226, 227);
    border: 1px solid rgb(216, 81, 88);
    color: rgb(230, 13, 23);
    left: 50%;
    transform: translate(-50%,0);
}

.alert-green-bg{
    background-color: rgb(212,237,218);
    border: 1px solid rgb(23, 129, 23);
    color: rgb(65,122,78);
    left: 50%;
    transform: translate(-50%,0);
}