

<div class="home">

    <div class="home-container">
        <h1>Home Page</h1>

        
        <app-create-post></app-create-post>
        

        <div class="job-post-container">
            <h1>job container</h1>
            <div class='job-box'>
                <h2>job 1</h2>
            </div>
            <div class='job-box'>
                <h2>job 2</h2>
            </div>
            <div class='job-box'>
                <h2>job 3</h2>
            </div>
        </div>

    </div>

</div>