
.home{
    background-color: rgb(246, 246, 246);
    overflow: hidden;
}

.home-container{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.home-header{
    text-align: center;
    background-color: rgb(49,120,198);
    position: relative;
}

.greet-user{
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
}

.greet-user p{
    font-size: 19px;
    color: white;
}

.greet-user button{
    background-color: rgb(223, 59, 59);
    border: none;
    width: 80px;
    height: 25px;
    border-radius: 20px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    transition: ease-in-out all 0.3s;
}

.greet-user button:hover{
    background-color: rgb(230, 112, 112);
}

.home-header img{
    width: 250px;
    height: 230px;
}

.home-top{
    min-height: 50vh;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-grid-img {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
.home-grid-img img{
    height: 250px;
    width: 400px;
}

.home-grid-text{
    padding:15px 15px 15px 25px;
} 

.home-grid-text h1{
    margin-top: 25px;
    margin-bottom: 15px;
    color: rgb(43, 174, 226);
}

.home-grid-text p {
    font-size:22px;
    line-height: 30px;
    width: 90%;
}

.home-grid-text button{
    margin-top: 20px;
    height: 35px;
    width: 30%;
    border: 2px solid rgb(9, 155, 212);
    background-color: transparent;
    color: rgb(9, 155, 212);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    font-weight: bold;
}

.home-grid-text button:hover{
    border: 2px solid rgb(9, 155, 212);
    background-color: rgb(9, 155, 212);
    color: rgb(238, 235, 235);
}

.home-grid-text button i{
    margin-left: 10px;
}

.home-grid-text i{
    margin-left: 10px;
}

.home-grid-text-header{
    display: flex;
    align-items: center;
}

.home-grid-text-header i{
    font-size:30px;
}



.job-post-container{
    min-height: 600px;
    padding: 45px 15px 15px 15px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-background{
    background-color: rgb(231, 228, 228,0.9);
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    width: 340px; 
}

.job-post-container h1{
    text-align: center;
    color: #000000;
    font-size:30px;
}

.job-post-header-underline{
    border: 2px solid #000000;
    width: 130px;
    border-radius: 15px;
    margin: 0 auto;
}

.job-post-container-flex{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.home-bottom{
    padding-bottom: 50px;
}


.home-grid-posts{
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-register-div{
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
}

.login-register-div a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.login-register-div a:hover{
    transform: scale(1.15);
}

.vertical-line{
    border: 1px solid white;
    border-radius: 10px;
    height: 17px;
    width: 2px;
    margin: 0px 10px;
}

.login-link{
    padding: 2px;
    background-color: white;
    border-radius: 20px;
    color: rgb(9, 155, 212) !important;
    width: 70px;
}

@media only screen and (min-width: 1500px) {

    .home-grid-text{
        padding:45px 15px 15px 35px;
    } 
    
    .home-grid-text h1{
        font-size:40px;
        padding: 20px 0px 5px 0px;
    }
    
    .home-grid-text p {
        font-size:25px;
        line-height: 35px;
    }
    
    .home-grid-text button{
        margin-top: 25px;
        height: 40px;
    }

}

@media only screen and (max-width: 1100px) {


    .home-container{
        width: 100%; 
    }

    .home-grid-text{
        padding-left: 30px;
    }

    .job-post-container{
        padding: 15px 30px;
    }

    .home-grid-text p {
        width: 100%;
    }

    .home-grid-img img{
        height: 200px;
        width: 300px;
    }

}

@media only screen and (max-width: 700px) {


    .home-grid{
        grid-template-columns:1fr;
    }

    .home-grid-text{
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 30px;
    }


    .job-post-container{
        height: auto;
        padding: 15px;
        background-attachment: scroll;
    }


    .home-grid-posts{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


@media only screen and (max-width: 600px) {

    .job-post-container{
        height: auto;
        padding: 15px;
    }

    .job-post-container-flex{
        padding: 15px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}