
<!-- [ngStyle]="{backgroundImage:'url(../../assets/background.jpg)'}" -->
<div class="home" >

    <div class="home-container">
        <app-fast-alert [status]="status" [text]="alertText"></app-fast-alert>
        <div class="home-header">
            <img src="../../assets/top-header.png" alt="">
            <div *ngIf='auth' class="greet-user">
                <p>Hello, {{username}}!</p>
                <button (click)="onLogout()">Logout</button>
            </div>
            <div *ngIf='!auth' class="login-register-div">
                <a class="login-link" routerLink="/login">Login</a>
                <div class="vertical-line"></div>
                <a routerLink="/register">Register</a>
            </div>
        </div>

        <div class="home-grid home-top">
            <div class="home-grid-text">
                <h1 class="home-grid-text-header">
                    <span>Job Seekers Board</span> 
                    <i class="fa fa-search" aria-hidden="true"></i>
                </h1>
                <p>
                    Job search is not a simple process for any person so this project 
                    is supposed to simulate a bulletin board for people who looking for 
                    new job in order to facilitate the process and make recruiters find 
                    their candidates.
                </p>
                <a href="#jobs">
                    <button>
                        <span>Check Jobs</span> 
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </button>
                </a>
            </div>

            <div class="home-grid-img">
                <img src="../../assets/b.png" alt="">
            </div>
        </div>
        <div class="home-grid home-bottom">
            <div class="home-grid-posts">
                <app-create-post (createJobPost)="createJobPost($event)"></app-create-post>
            </div>
            <div class="home-grid-text">
                <h1 class="home-grid-text-header">
                    <span>Create Your Own Posts! <i class="fa fa-address-card" aria-hidden="true"></i></span> 
                </h1>
                <p>
                    Users can create a job post on the board by entering their 
                    personal details in the form on the left side which contains a title, phone, 
                    email and text area where they can tell about
                    themselves briefly and also leave contact details
                    in order for recruiters or people who have job offers to be able to contact them.
                    <b>If you came here and you are looking for a job leave a note do not be shy!</b>
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                </p>
            </div>
        </div>
        <div class="job-post-container" 
        [ngStyle]="{backgroundImage:'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../../assets/posts-bg.jpg)'}"
        >
            <div class="header-background">
                <h1 id='jobs'>Jobs Board</h1>
                <div class="job-post-header-underline"></div>
            </div>
      
            <div class="job-post-container-flex">
                <app-job-post *ngFor="let post of jobPostArr" [jobPost]="post"
                (deletePost)="deletePost($event)">
                </app-job-post>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
    

</div>