
.footer{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p{
    height: fit-content;
    font-size: 18px;
    margin-right: 10px;
}

.footer a{
    color: black;
    margin: 0 10px;
    font-size: 18px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.footer a:hover{transform: scale(1.2);}