

<div class="container">
    
    <div class="center-container">
        <div class="logo">
            <img src="../../assets/top-header.png" alt="">
        </div>
        <div class="sign-in-out">
            <h2 class="avtive">Sign Up</h2>
            <h1 class="not-active">Sign In</h1>
        </div>
        <div class="inputs-container">
            <app-error-msg *ngIf="error"[errorText]=error></app-error-msg>
            <input class="input" type="text" placeholder="Username"
            [(ngModel)]="userName">
            <input class="input" type="password" placeholder="Password"
            [(ngModel)]="password">
            <input class="input" type="password" placeholder="Confirm password"
            [(ngModel)]="confirmPassword">
            <input class="input" type="email" placeholder="Email"
            [(ngModel)]="email" (keyup.enter)="onSignUp()">
            <button (click)="onSignUp()" class="input btn">Sign Up</button>
            <p>Have an account?  <a routerLink="/login">Sign In</a></p>
        </div>
    </div>
</div>


