<div class="container">
    
    <div class="center-container">
        <div class="logo">
            <img src="../../assets/top-header.png" alt="">
        </div>
        <div class="sign-in-out">
            <h2 class="not-active">Sign Up</h2>
            <h1 class="avtive">Sign In</h1>
        </div>
  
        <div class="inputs-container">
            <app-error-msg *ngIf="error"[errorText]=error></app-error-msg>
            <input class="input" type="text" placeholder="Username"
            [(ngModel)]="userName">
            <input class="input" type="password" placeholder="Password"
            [(ngModel)]="password" (keyup.enter)="onLogin()">
            <button (click)="onLogin()" class="input btn">Sign In</button>
            <p>Dont have an account? <a routerLink="/register">Sign Up</a></p>

        </div>
    </div>
</div>
