
<div class="job-box">
    <div class="nail-icon">
        <i class="fa fa-thumb-tack" aria-hidden="true"></i>
    </div>
    <div class="job-box-header">
        <h2>{{jobPost.title}}</h2>
    </div>
    <div class="container">
        <h4>
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            {{jobPost.education}}
        </h4>
        <p>
            {{jobPost.note_description}}
        </p>
        <div class="phone-num">
            <b>Phone: </b>
            <a  href="tel:{{jobPost.tel}}">{{ jobPost.tel }}</a>
        </div>
    </div>
    <a href="mailto:{{jobPost.email}}">
        <div class="btn-container">
            <button class="contact-btn">Send Email</button>
        </div>
    </a>
    <div class="pub-date">
        {{jobPost.pub_date}}
    </div>
    <div class="edit-and-delete">
        <i (click)="onDelete()" class="fa fa-trash" aria-hidden="true"></i>
    </div>
</div>
