

<div class="post-creation">
    <h1>Job Post Creation</h1>
    <app-login-alert></app-login-alert>
    <input type="text" placeholder="Title"
    [(ngModel)]="title" name="title" class="inputs">
    <div>
        <input type="number" placeholder="Nubmer" class="inputs"
        [(ngModel)]="phone">
    </div>
    <div>
        <input type="email" name="email" placeholder="Email" class="inputs"
        [(ngModel)]="email">

    </div>
    <div class="dropdown-input">
        <select class="inputs" [(ngModel)]="education">
            <option value="Education"  disabled selected hidden>Education</option>
            <option value="High School">High School</option>
            <option value="Bachelor Degree">Bachelor Degree</option>
            <option value="Master's Degree">Master's Degree</option>
            <option value="PhD Degree">PhD Degree</option>
        </select>
    </div>
    <div>
        <textarea id="text-area" cols="30" rows="10"
        placeholder="Tell about your self..." maxlength="150"
        [(ngModel)]="body" (input)="onChange()">
        </textarea>
        <div class="char-left-to-max">
            <span>characters remaining: </span>
            <span id='remaining-char'>150</span>
        </div>

    </div>
    
    <div>
        <button (click)="onCreate()" class="create-post-btn">Create</button>
    </div>
</div>